body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container
{
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 500px;
}

.row
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.unit
{
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
}

button
{
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}