body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container
{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.unit
{
    padding: 2px;
    border: 1px solid gray;
    margin: 0;

    box-sizing: border-box; /* make sure padding and other things outside the content dimensions are included in the total width */
    min-width: 0;
    min-height: 0;
    /* width: VARIES%; x per row because 100 / USER_SELECTED_GRID_SIZE = VARIES% -> This shall be manipulated with JavaScript */
    aspect-ratio: 1 / 1; /* keeps them square */
}

button
{
    padding: 8px;
    margin: 24px;
    cursor: pointer;
}